In [5]:
"""
Problem Statement
Your client is a meal delivery company which operates in multiple cities. They have various fulfillment centers in these cities for dispatching meal orders to their customers. 
The client wants you to help these centers with demand forecasting for upcoming weeks so that these centers will plan the stock of raw materials accordingly.
"""

"""
Imports required for implementation.
"""
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
import seaborn as sns
import gc
import catboost as cb
from sklearn.metrics import mean_squared_log_error,mean_squared_error
from sklearn.model_selection import train_test_split,KFold
%matplotlib inline
warnings.filterwarnings("ignore")

In [6]:
def show_all(df,nrow,ncol):
    with pd.option_context("display.max_rows",nrow,"display.max_columns",ncol):
        display(df)

In [12]:
"""
Loading all datasets provided
"""
train_path = "Datasets/train/"
test_path = "Datasets/test/"
sub_path = "Datasets/sample/"

fci_df = pd.read_csv(f"{train_path}/fulfilment_center_info.csv")
mi_df = pd.read_csv(f"{train_path}/meal_info.csv")
train_df = pd.read_csv(f"{train_path}/train.csv")
test_df = pd.read_csv(f"{test_path}/test.csv")
sub_df = pd.read_csv(f"{sub_path}/sample_submission.csv")

In [13]:
"""
EDA of all datasets
"""

"""
Fulfilment center info dataset
"""

fci_df.head()

   center_id  city_code  region_code center_type  op_area
0         11        679           56      TYPE_A      3.7
1         13        590           56      TYPE_B      6.7
2        124        590           56      TYPE_C      4.0
3         66        648           34      TYPE_A      4.1
4         94        632           34      TYPE_C      3.6

In [14]:
print("Shape: ",fci_df.shape)

Shape:  (77, 5)

In [15]:
#Checking for null values
fci_df.isnull().sum()

center_id      0
city_code      0
region_code    0
center_type    0
op_area        0
dtype: int64

In [16]:
"""
Meal info dataset
"""

mi_df.head()

   meal_id   category cuisine
0     1885  Beverages    Thai
1     1993  Beverages    Thai
2     2539  Beverages    Thai
3     1248  Beverages  Indian
4     2631  Beverages  Indian

In [17]:
print("Shape: ",mi_df.shape)

Shape:  (51, 3)

In [19]:
#Checking for null values
mi_df.isnull().sum()

meal_id     0
category    0
cuisine     0
dtype: int64

In [20]:
"""
Training dataset
"""

train_df.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders
0,1379560,1,55,1885,136.83,152.29,0,0,177
1,1466964,1,55,1993,136.83,135.83,0,0,270
2,1346989,1,55,2539,134.86,135.86,0,0,189
3,1338232,1,55,2139,339.50,437.53,0,0,54
4,1448490,1,55,2631,243.50,242.50,0,0,40

In [21]:
print("Shape: ",train_df.shape)

Shape:  (456548, 9)

In [22]:
#Checking for null values
train_df.isnull().sum()

id                       0
week                     0
center_id                0
meal_id                  0
checkout_price           0
base_price               0
emailer_for_promotion    0
homepage_featured        0
num_orders               0
dtype: int64

In [23]:
"""
Testing dataset
"""

test_df.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured
0,1028232,146,55,1885,158.11,159.11,0,0
1,1127204,146,55,1993,160.11,159.11,0,0
2,1212707,146,55,2539,157.14,159.14,0,0
3,1082698,146,55,2631,162.02,162.02,0,0
4,1400926,146,55,1248,163.93,163.93,0,0

In [24]:
print("Shape: ",test_df.shape)

Shape:  (32573, 8)

In [25]:
#Checking for null values
test_df.isnull().sum()

id                       0
week                     0
center_id                0
meal_id                  0
checkout_price           0
base_price               0
emailer_for_promotion    0
homepage_featured        0
dtype: int64

In [26]:
"""
Combining the fulfilment center dataset and meal info dataset into one dataset
"""

train_df = pd.merge(train_df , fci_df , on="center_id")
test_df = pd.merge(test_df , fci_df , on="center_id")

train_df = pd.merge(train_df , mi_df , on="meal_id")
test_df = pd.merge(test_df , mi_df , on="meal_id")

In [28]:
"""
New train dataset
"""
train_df.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,region_code,center_type,op_area,category,cuisine
0,1379560,1,55,1885,136.83,152.29,0,0,177,647,56,TYPE_C,2.0,Beverages,Thai
1,1018704,2,55,1885,135.83,152.29,0,0,323,647,56,TYPE_C,2.0,Beverages,Thai
2,1196273,3,55,1885,132.92,133.92,0,0,96,647,56,TYPE_C,2.0,Beverages,Thai
3,1116527,4,55,1885,135.86,134.86,0,0,163,647,56,TYPE_C,2.0,Beverages,Thai
4,1343872,5,55,1885,146.50,147.50,0,0,215,647,56,TYPE_C,2.0,Beverages,Thai

In [29]:
"""
Labelling train and test data
"""

train_df["train_or_test"] = "train"
test_df["train_or_test"] = "test"

In [30]:
"""
Finding natural logarithmic value of the num_orders for easier calculation to the model
"""
train_df["num_orders"] = np.log1p(train_df["num_orders"])

In [31]:
"""
Combining train and test dataset into one dataset
"""
all_df = train_df.append(test_df).reset_index(drop=True)[train_df.columns]

In [32]:
"""
Sorting the values on the basis of centers,meals and weeks
"""
all_df = all_df.sort_values(["center_id" , "meal_id" , "week"]).reset_index(drop = True)

"""
Logarithmic values of checkout and base_price for the model to work efficiently
"""
all_df["checkout_price"] = np.log1p(all_df["checkout_price"])
all_df["base_price"] = np.log1p(all_df["base_price"])
all_df["discount_on_base"] = (all_df["base_price"] - all_df["checkout_price"])/all_df["base_price"]

In [33]:
"""
Displaying all dataset
"""
all_df.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,region_code,center_type,op_area,category,cuisine,train_or_test,discount_on_base
0,1436842,1,10,1062,5.206147,5.206147,0,0,6.763885,590,56,TYPE_B,6.3,Beverages,Italian,train,0.000000
1,1205013,2,10,1062,5.216890,5.211451,0,0,6.663133,590,56,TYPE_B,6.3,Beverages,Italian,train,-0.001044
2,1447751,3,10,1062,5.222300,5.211451,0,0,6.747587,590,56,TYPE_B,6.3,Beverages,Italian,train,-0.002082
3,1014968,4,10,1062,5.211451,5.216890,0,0,7.092574,590,56,TYPE_B,6.3,Beverages,Italian,train,0.001043
4,1003563,5,10,1062,5.217053,5.206147,0,0,6.865891,590,56,TYPE_B,6.3,Beverages,Italian,train,-0.002095

In [34]:
all_df["neg_discount"] = (all_df["discount_on_base"] < 0).astype(int)
"""
Calculating difference in costs in consecutive orders
"""
all_df["price_last_curr_diff"] = (all_df["checkout_price"].shift(1) - all_df["checkout_price"]).fillna(1)/all_df["checkout_price"].shift(1).fillna(1)

In [42]:
"""
Grouping by center_id and meal_id and weeks
"""
for _, r in all_df.groupby(['center_id', 'meal_id'])['week'].first().reset_index().iterrows():
    all_df.loc[(all_df['center_id']==r['center_id']) & (all_df['meal_id']==r['meal_id']) & (all_df['week']==r['week']), 'price_last_curr_diff']=all_df[(all_df['center_id']==r['center_id']) & (all_df['meal_id']==r['meal_id']) & (all_df['week']!=r['week'])]['price_last_curr_diff'].mean()

In [43]:
all_df["price_last_curr_diff"] = all_df["price_last_curr_diff"].fillna(0)
all_df["price_increase"] = (all_df["price_last_curr_diff"] < 0).astype(int)

In [44]:
"""
Printing all values after all operations required on the data
"""
all_df.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,region_code,center_type,op_area,category,cuisine,train_or_test,discount_on_base,neg_discount,price_last_curr_diff,price_increase
0,1436842,1,10,1062,5.206147,5.206147,0,0,6.763885,590,56,TYPE_B,6.3,Beverages,Italian,train,0.000000,0,0.000086,0
1,1205013,2,10,1062,5.216890,5.211451,0,0,6.663133,590,56,TYPE_B,6.3,Beverages,Italian,train,-0.001044,1,-0.002064,1
2,1447751,3,10,1062,5.222300,5.211451,0,0,6.747587,590,56,TYPE_B,6.3,Beverages,Italian,train,-0.002082,1,-0.001037,1
3,1014968,4,10,1062,5.211451,5.216890,0,0,7.092574,590,56,TYPE_B,6.3,Beverages,Italian,train,0.001043,0,0.002077,0
4,1003563,5,10,1062,5.217053,5.206147,0,0,6.865891,590,56,TYPE_B,6.3,Beverages,Italian,train,-0.002095,1,-0.001075,1

In [48]:
"""
Forecasting method used:
catBooster regressor method
Uses gradient boosting on values for prediction
"""

"""
Monthwise aggregation of the sales values
"""

def create_sales_agg_monthwise_features(df , gpby_cols , target_col , agg_funcs):
    gpby = df.groupby(gpby_cols)
    newdf = df[gpby_cols].drop_duplicates().reset_index(drop = True)
    for agg_name , agg_func in agg_funcs.items():
        aggdf = gpby[target_col].agg(agg_func).reset_index()
        aggdf.rename(columns = {target_col:target_col+"_"+agg_name} , inplace = True)
        newdf = newdf.merge(aggdf , on=gpby_cols , how = "left")
    
    return newdf

"""
Creating features from previous sales values
"""


# Creating sales lag features

def create_sales_lag_feats(df , gpby_cols , target_col , lags):
    gpby = df.groupby(gpby_cols)
    for lag in lags:
        df["_".join([target_col , "lag" ,str(lag)])] = gpby[target_col].shift(lag).values + np.random.normal(scale = 1.6 , size = len(df))
    
    return df

# Creating sales rolling mean features
def create_sales_rmean_feats(df, gpby_cols, target_col, windows, min_periods=2, 
                             shift=1, win_type=None):
    gpby = df.groupby(gpby_cols)
    for w in windows:
        df['_'.join([target_col, 'rmean', str(w)])] = \
            gpby[target_col].shift(shift).rolling(window=w, 
                                                  min_periods=min_periods,
                                                  win_type=win_type).mean().values +\
            np.random.normal(scale=1.6, size=(len(df),))
    return df


# Creating sales rolling median features
def create_sales_rmed_feats(df, gpby_cols, target_col, windows, min_periods=2, 
                            shift=1, win_type=None):
    gpby = df.groupby(gpby_cols)
    for w in windows:
        df['_'.join([target_col, 'rmed', str(w)])] = \
            gpby[target_col].shift(shift).rolling(window=w, 
                                                  min_periods=min_periods,
                                                  win_type=win_type).median().values +\
            np.random.normal(scale=1.6, size=(len(df),))
    return df

# Creating sales exponentially weighted mean features
def create_sales_ewm_feats(df, gpby_cols, target_col, alpha=[0.9], shift=[1]):
    gpby = df.groupby(gpby_cols)
    for a in alpha:
        for s in shift:
            df['_'.join([target_col, 'lag', str(s), 'ewm', str(a)])] = \
                gpby[target_col].shift(s).ewm(alpha=a).mean().values
    return df

def one_hot_encoder(df , ohe_cols):
    print("Creating OHE features\nOld df shape: {}".format(df.shape))
    df = pd.get_dummies(df , columns = ohe_cols)
    print("New df shape : {}".format(df.shape))

    return df

In [49]:
"""
Creating num_order lag and ewm
"""

all_df = create_sales_lag_feats( all_df , gpby_cols = ["center_id" , "meal_id"] , target_col = "num_orders" , lags = [10,11,12])

all_df = create_sales_ewm_feats( all_df , gpby_cols = ["center_id" , "meal_id"] , target_col = "num_orders" , alpha = [0.5] , shift = [10,11,12,13,14,15])

In [50]:
"""
Shape of new all df
"""
all_df.shape

(489121, 29)

In [51]:
"""
Displaying the dataset
"""
show_all (all_df , 5 ,None)

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,region_code,center_type,op_area,category,cuisine,train_or_test,discount_on_base,neg_discount,price_last_curr_diff,price_increase,num_orders_lag_10,num_orders_lag_11,num_orders_lag_12,num_orders_lag_10_ewm_0.5,num_orders_lag_11_ewm_0.5,num_orders_lag_12_ewm_0.5,num_orders_lag_13_ewm_0.5,num_orders_lag_14_ewm_0.5,num_orders_lag_15_ewm_0.5
0,1436842,1,10,1062,5.206147,5.206147,0,0,6.763885,590,56,TYPE_B,6.3,Beverages,Italian,train,0.000000,0,0.000086,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1205013,2,10,1062,5.216890,5.211451,0,0,6.663133,590,56,TYPE_B,6.3,Beverages,Italian,train,-0.001044,1,-0.002064,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489119,1429037,115,186,2956,6.366522,6.369952,0,0,2.772589,649,34,TYPE_A,3.4,Fish,Continental,train,0.000539,0,0.000539,0,1.242330,3.456474,4.548076,3.097631,3.556204,3.398836,3.430377,3.564916,3.392163
489120,1285049,116,186,2956,5.680275,6.368239,0,0,4.812184,649,34,TYPE_A,3.4,Fish,Continental,train,0.108030,0,0.107790,0,2.276765,2.876333,5.289352,3.405601,3.097631,3.556204,3.398836,3.430377,3.564916

In [52]:
"""
New Train and test dataset
"""
train = all_df.loc[all_df["train_or_test"] == "train" , :]
test = all_df.loc[all_df["train_or_test"] == "test" , :]

In [53]:
"""
Train shape and test shape
"""
print("Train shape : {}\nTest shape : {}".format(train.shape , test.shape))

Train shape : (456548, 29)
Test shape : (32573, 29)

In [54]:
"""
Checking for null values
"""
train.isnull().sum()

id                               0
week                             0
center_id                        0
meal_id                          0
checkout_price                   0
base_price                       0
emailer_for_promotion            0
homepage_featured                0
num_orders                       0
city_code                        0
region_code                      0
center_type                      0
op_area                          0
category                         0
cuisine                          0
train_or_test                    0
discount_on_base                 0
neg_discount                     0
price_last_curr_diff             0
price_increase                   0
num_orders_lag_10            35843
num_orders_lag_11            39412
num_orders_lag_12            42980
num_orders_lag_10_ewm_0.5       10
num_orders_lag_11_ewm_0.5       11
num_orders_lag_12_ewm_0.5       12
num_orders_lag_13_ewm_0.5       13
num_orders_lag_14_ewm_0.5       14
num_orders_lag_15_ewm_0.5       15
dtype: int64

In [56]:
"""
Implementing catboost regressor
"""

avoid = ["id" , "num_orders" , "train_or_test" , "checkout_price" , "base_price" , "city_code" , "region_code" , "center_type" , ""]

features = [col for col in test.columns if col not in avoid]
features

['week',
 'center_id',
 'meal_id',
 'emailer_for_promotion',
 'homepage_featured',
 'op_area',
 'category',
 'cuisine',
 'discount_on_base',
 'neg_discount',
 'price_last_curr_diff',
 'price_increase',
 'num_orders_lag_10',
 'num_orders_lag_11',
 'num_orders_lag_12',
 'num_orders_lag_10_ewm_0.5',
 'num_orders_lag_11_ewm_0.5',
 'num_orders_lag_12_ewm_0.5',
 'num_orders_lag_13_ewm_0.5',
 'num_orders_lag_14_ewm_0.5',
 'num_orders_lag_15_ewm_0.5']

In [62]:
"""
Features index to be included while fitting in the model
"""
cat_index = [1,2,3,4,6,7,9,11]

cat_regressor = cb.CatBoostRegressor(iterations = 200,
                                     learning_rate = 0.5,
                                     depth = 5,
                                     l2_leaf_reg = 10,
                                     loss_function = "RMSE" ,
                                     random_seed = 2020)

cat_regressor.fit( X = train[features],
                   y = train["num_orders"] ,
                   cat_features = cat_index ,
                   verbose = True)

0:	learn: 0.8799703	total: 412ms	remaining: 1m 21s
1:	learn: 0.7333530	total: 876ms	remaining: 1m 26s
2:	learn: 0.6634167	total: 1.57s	remaining: 1m 43s
3:	learn: 0.6330906	total: 2.31s	remaining: 1m 53s
4:	learn: 0.6158935	total: 2.69s	remaining: 1m 44s
5:	learn: 0.6052067	total: 3.17s	remaining: 1m 42s
6:	learn: 0.5986738	total: 3.57s	remaining: 1m 38s
7:	learn: 0.5936541	total: 3.9s	remaining: 1m 33s
8:	learn: 0.5810082	total: 4.29s	remaining: 1m 31s
9:	learn: 0.5775897	total: 4.68s	remaining: 1m 29s
10:	learn: 0.5747898	total: 5.16s	remaining: 1m 28s
11:	learn: 0.5725972	total: 5.49s	remaining: 1m 25s
12:	learn: 0.5696887	total: 5.87s	remaining: 1m 24s
13:	learn: 0.5675570	total: 6.27s	remaining: 1m 23s
14:	learn: 0.5642399	total: 6.69s	remaining: 1m 22s
15:	learn: 0.5612122	total: 7.08s	remaining: 1m 21s
16:	learn: 0.5595167	total: 7.37s	remaining: 1m 19s
17:	learn: 0.5574564	total: 7.69s	remaining: 1m 17s
18:	learn: 0.5551582	total: 8.1s	remaining: 1m 17s
19:	learn: 0.5529260	total: 8.47s	remaining: 1m 16s
20:	learn: 0.5512685	total: 8.93s	remaining: 1m 16s
21:	learn: 0.5492456	total: 9.3s	remaining: 1m 15s
22:	learn: 0.5483919	total: 9.71s	remaining: 1m 14s
23:	learn: 0.5469277	total: 10.1s	remaining: 1m 13s
24:	learn: 0.5457590	total: 10.4s	remaining: 1m 13s
25:	learn: 0.5440734	total: 10.7s	remaining: 1m 11s
26:	learn: 0.5424025	total: 11.1s	remaining: 1m 10s
27:	learn: 0.5412440	total: 11.3s	remaining: 1m 9s
28:	learn: 0.5405724	total: 11.7s	remaining: 1m 8s
29:	learn: 0.5394891	total: 12s	remaining: 1m 7s
30:	learn: 0.5387742	total: 12.3s	remaining: 1m 6s
31:	learn: 0.5376695	total: 12.5s	remaining: 1m 5s
32:	learn: 0.5369581	total: 12.9s	remaining: 1m 5s
33:	learn: 0.5362524	total: 13.3s	remaining: 1m 4s
34:	learn: 0.5354430	total: 13.5s	remaining: 1m 3s
35:	learn: 0.5348326	total: 13.8s	remaining: 1m 2s
36:	learn: 0.5341292	total: 14s	remaining: 1m 1s
37:	learn: 0.5334790	total: 14.4s	remaining: 1m 1s
38:	learn: 0.5326447	total: 14.6s	remaining: 1m
39:	learn: 0.5318448	total: 14.8s	remaining: 59.1s
40:	learn: 0.5308989	total: 15.1s	remaining: 58.6s
41:	learn: 0.5302737	total: 15.4s	remaining: 58.1s
42:	learn: 0.5298075	total: 15.8s	remaining: 57.5s
43:	learn: 0.5291912	total: 16s	remaining: 56.8s
44:	learn: 0.5271898	total: 16.4s	remaining: 56.5s
45:	learn: 0.5265075	total: 16.8s	remaining: 56.1s
46:	learn: 0.5258488	total: 17.2s	remaining: 55.9s
47:	learn: 0.5252853	total: 17.5s	remaining: 55.5s
48:	learn: 0.5245474	total: 17.9s	remaining: 55.3s
49:	learn: 0.5242987	total: 18.3s	remaining: 54.9s
50:	learn: 0.5237680	total: 18.7s	remaining: 54.5s
51:	learn: 0.5229067	total: 18.9s	remaining: 53.9s
52:	learn: 0.5225039	total: 19.3s	remaining: 53.5s
53:	learn: 0.5222625	total: 19.6s	remaining: 53.1s
54:	learn: 0.5216993	total: 20s	remaining: 52.7s
55:	learn: 0.5212047	total: 20.4s	remaining: 52.4s
56:	learn: 0.5208158	total: 20.7s	remaining: 51.9s
57:	learn: 0.5204282	total: 21.1s	remaining: 51.6s
58:	learn: 0.5199892	total: 21.5s	remaining: 51.3s
59:	learn: 0.5196980	total: 21.8s	remaining: 51s
60:	learn: 0.5192707	total: 22.2s	remaining: 50.6s
61:	learn: 0.5189601	total: 22.6s	remaining: 50.2s
62:	learn: 0.5185636	total: 22.9s	remaining: 49.7s
63:	learn: 0.5182705	total: 23.3s	remaining: 49.6s
64:	learn: 0.5179234	total: 23.7s	remaining: 49.2s
65:	learn: 0.5175614	total: 24s	remaining: 48.6s
66:	learn: 0.5170022	total: 24.3s	remaining: 48.1s
67:	learn: 0.5167667	total: 24.6s	remaining: 47.8s
68:	learn: 0.5162797	total: 25s	remaining: 47.4s
69:	learn: 0.5150759	total: 25.3s	remaining: 47.1s
70:	learn: 0.5147396	total: 25.7s	remaining: 46.7s
71:	learn: 0.5143521	total: 26s	remaining: 46.2s
72:	learn: 0.5141037	total: 26.4s	remaining: 46s
73:	learn: 0.5138298	total: 26.9s	remaining: 45.7s
74:	learn: 0.5135831	total: 27.2s	remaining: 45.4s
75:	learn: 0.5133360	total: 27.6s	remaining: 45.1s
76:	learn: 0.5130364	total: 28s	remaining: 44.7s
77:	learn: 0.5127116	total: 28.3s	remaining: 44.3s
78:	learn: 0.5123685	total: 28.6s	remaining: 43.9s
79:	learn: 0.5119157	total: 29s	remaining: 43.5s
80:	learn: 0.5118019	total: 29.4s	remaining: 43.2s
81:	learn: 0.5116272	total: 29.7s	remaining: 42.7s
82:	learn: 0.5114389	total: 30s	remaining: 42.3s
83:	learn: 0.5113451	total: 30.4s	remaining: 42s
84:	learn: 0.5111865	total: 30.7s	remaining: 41.6s
85:	learn: 0.5109429	total: 31.2s	remaining: 41.3s
86:	learn: 0.5105832	total: 31.5s	remaining: 40.9s
87:	learn: 0.5102553	total: 31.9s	remaining: 40.6s
88:	learn: 0.5099577	total: 32.3s	remaining: 40.3s
89:	learn: 0.5096778	total: 32.6s	remaining: 39.8s
90:	learn: 0.5094827	total: 33s	remaining: 39.5s
91:	learn: 0.5090570	total: 33.4s	remaining: 39.3s
92:	learn: 0.5088404	total: 33.9s	remaining: 39s
93:	learn: 0.5085569	total: 34.3s	remaining: 38.7s
94:	learn: 0.5078880	total: 34.7s	remaining: 38.3s
95:	learn: 0.5077152	total: 35s	remaining: 38s
96:	learn: 0.5075615	total: 35.4s	remaining: 37.6s
97:	learn: 0.5072377	total: 35.7s	remaining: 37.1s
98:	learn: 0.5071128	total: 36s	remaining: 36.7s
99:	learn: 0.5068569	total: 36.4s	remaining: 36.4s
100:	learn: 0.5067382	total: 36.7s	remaining: 36s
101:	learn: 0.5065474	total: 37s	remaining: 35.6s
102:	learn: 0.5063452	total: 37.4s	remaining: 35.2s
103:	learn: 0.5061857	total: 37.8s	remaining: 34.9s
104:	learn: 0.5054087	total: 38.2s	remaining: 34.5s
105:	learn: 0.5053088	total: 38.6s	remaining: 34.2s
106:	learn: 0.5051156	total: 38.9s	remaining: 33.8s
107:	learn: 0.5048648	total: 39.2s	remaining: 33.4s
108:	learn: 0.5047156	total: 39.6s	remaining: 33s
109:	learn: 0.5040762	total: 39.9s	remaining: 32.7s
110:	learn: 0.5039145	total: 40.2s	remaining: 32.2s
111:	learn: 0.5037286	total: 40.5s	remaining: 31.8s
112:	learn: 0.5035184	total: 40.7s	remaining: 31.4s
113:	learn: 0.5033868	total: 41s	remaining: 30.9s
114:	learn: 0.5031260	total: 41.3s	remaining: 30.5s
115:	learn: 0.5029332	total: 41.6s	remaining: 30.1s
116:	learn: 0.5028045	total: 41.8s	remaining: 29.7s
117:	learn: 0.5026964	total: 42.1s	remaining: 29.3s
118:	learn: 0.5025908	total: 42.5s	remaining: 29s
119:	learn: 0.5023949	total: 42.9s	remaining: 28.6s
120:	learn: 0.5022238	total: 43.4s	remaining: 28.4s
121:	learn: 0.5020176	total: 43.8s	remaining: 28s
122:	learn: 0.5018493	total: 44.1s	remaining: 27.6s
123:	learn: 0.5017251	total: 44.5s	remaining: 27.3s
124:	learn: 0.5014926	total: 44.7s	remaining: 26.8s
125:	learn: 0.5012764	total: 45.1s	remaining: 26.5s
126:	learn: 0.5010300	total: 45.4s	remaining: 26.1s
127:	learn: 0.5008911	total: 45.7s	remaining: 25.7s
128:	learn: 0.5007217	total: 46.1s	remaining: 25.4s
129:	learn: 0.5005952	total: 46.4s	remaining: 25s
130:	learn: 0.5004062	total: 46.6s	remaining: 24.6s
131:	learn: 0.5001759	total: 46.9s	remaining: 24.2s
132:	learn: 0.5000564	total: 47.2s	remaining: 23.8s
133:	learn: 0.4999069	total: 47.5s	remaining: 23.4s
134:	learn: 0.4997750	total: 48s	remaining: 23.1s
135:	learn: 0.4997060	total: 48.3s	remaining: 22.7s
136:	learn: 0.4996303	total: 48.7s	remaining: 22.4s
137:	learn: 0.4994939	total: 49.1s	remaining: 22s
138:	learn: 0.4993581	total: 49.4s	remaining: 21.7s
139:	learn: 0.4992486	total: 49.7s	remaining: 21.3s
140:	learn: 0.4991090	total: 50.1s	remaining: 21s
141:	learn: 0.4990252	total: 50.4s	remaining: 20.6s
142:	learn: 0.4989541	total: 50.8s	remaining: 20.2s
143:	learn: 0.4988672	total: 51.2s	remaining: 19.9s
144:	learn: 0.4987850	total: 51.5s	remaining: 19.5s
145:	learn: 0.4985676	total: 52s	remaining: 19.2s
146:	learn: 0.4984003	total: 52.3s	remaining: 18.9s
147:	learn: 0.4982669	total: 52.7s	remaining: 18.5s
148:	learn: 0.4980860	total: 53.1s	remaining: 18.2s
149:	learn: 0.4979849	total: 53.6s	remaining: 17.9s
150:	learn: 0.4978377	total: 54s	remaining: 17.5s
151:	learn: 0.4976816	total: 54.4s	remaining: 17.2s
152:	learn: 0.4974994	total: 54.8s	remaining: 16.8s
153:	learn: 0.4973914	total: 55.1s	remaining: 16.5s
154:	learn: 0.4972782	total: 55.5s	remaining: 16.1s
155:	learn: 0.4970677	total: 55.8s	remaining: 15.7s
156:	learn: 0.4969801	total: 56.2s	remaining: 15.4s
157:	learn: 0.4968428	total: 56.6s	remaining: 15s
158:	learn: 0.4966194	total: 56.9s	remaining: 14.7s
159:	learn: 0.4965222	total: 57.2s	remaining: 14.3s
160:	learn: 0.4963703	total: 57.6s	remaining: 13.9s
161:	learn: 0.4962048	total: 58s	remaining: 13.6s
162:	learn: 0.4959254	total: 58.3s	remaining: 13.2s
163:	learn: 0.4958055	total: 58.8s	remaining: 12.9s
164:	learn: 0.4956894	total: 59.1s	remaining: 12.5s
165:	learn: 0.4955954	total: 59.3s	remaining: 12.1s
166:	learn: 0.4954791	total: 59.6s	remaining: 11.8s
167:	learn: 0.4953083	total: 1m	remaining: 11.4s
168:	learn: 0.4951933	total: 1m	remaining: 11.1s
169:	learn: 0.4950331	total: 1m	remaining: 10.7s
170:	learn: 0.4949277	total: 1m	remaining: 10.3s
171:	learn: 0.4948282	total: 1m 1s	remaining: 9.97s
172:	learn: 0.4947314	total: 1m 1s	remaining: 9.61s
173:	learn: 0.4945854	total: 1m 1s	remaining: 9.26s
174:	learn: 0.4945138	total: 1m 2s	remaining: 8.89s
175:	learn: 0.4943704	total: 1m 2s	remaining: 8.53s
176:	learn: 0.4942709	total: 1m 2s	remaining: 8.16s
177:	learn: 0.4940959	total: 1m 3s	remaining: 7.82s
178:	learn: 0.4940359	total: 1m 3s	remaining: 7.47s
179:	learn: 0.4939255	total: 1m 4s	remaining: 7.12s
180:	learn: 0.4938141	total: 1m 4s	remaining: 6.76s
181:	learn: 0.4936570	total: 1m 4s	remaining: 6.4s
182:	learn: 0.4934432	total: 1m 5s	remaining: 6.05s
183:	learn: 0.4932988	total: 1m 5s	remaining: 5.69s
184:	learn: 0.4929923	total: 1m 5s	remaining: 5.33s
185:	learn: 0.4929283	total: 1m 6s	remaining: 4.99s
186:	learn: 0.4928368	total: 1m 6s	remaining: 4.63s
187:	learn: 0.4927153	total: 1m 6s	remaining: 4.27s
188:	learn: 0.4926222	total: 1m 7s	remaining: 3.91s
189:	learn: 0.4925358	total: 1m 7s	remaining: 3.55s
190:	learn: 0.4924366	total: 1m 7s	remaining: 3.2s
191:	learn: 0.4923282	total: 1m 8s	remaining: 2.85s
192:	learn: 0.4921774	total: 1m 8s	remaining: 2.49s
193:	learn: 0.4920539	total: 1m 8s	remaining: 2.13s
194:	learn: 0.4919913	total: 1m 9s	remaining: 1.78s
195:	learn: 0.4914751	total: 1m 9s	remaining: 1.42s
196:	learn: 0.4912661	total: 1m 9s	remaining: 1.06s
197:	learn: 0.4911647	total: 1m 10s	remaining: 708ms
198:	learn: 0.4910904	total: 1m 10s	remaining: 354ms
199:	learn: 0.4909284	total: 1m 10s	remaining: 0us

In [63]:
"""
Prediction of the food demand
"""
pred = cat_regressor.predict(test[features])
pred

array([6.89979613, 6.86790046, 6.75314512, ..., 2.9874359 , 2.96157175,
       3.32487581])

In [60]:
pred = (np.exp(pred) - 1)

In [61]:
"""
Making the submissions csv
"""
sub_df = pd.DataFrame( columns = ["id" , "num_orders"])
sub_df["id"] = test["id"]
sub_df["num_orders"] = pred

"""
Converting the dataset into csv
"""
sub_df.to_csv(f"{sub_path}/submissions.csv" , index = False)