In [1]:
from scipy.stats import chisquare, chi2_contingency
import pandas as pd
import numpy as np
import datetime as dt

In [3]:
dataset = pd.read_csv("../Datasets/FinalMergedDataset/dataset.csv")
df = pd.DataFrame(
    dataset[
        ["Time", "date", "Source", "Flight Name",
            "Status", "type", "Destination"]
    ]
)

In [5]:
#printing the Dataframe
df

,Time,date,Source,Flight Name,Status,type,Destination
0,00:05:00,2020-02-02,Paris (CDG),Air France,Landed 12:48 AM,A,NaN
1,00:05:00,2020-02-02,Hyderabad (HYD),IndiGo,Landed 12:23 AM,A,NaN
2,00:05:00,2020-02-02,NaN,GoAir,Departed 12:30 AM,D,Delhi (DEL)
3,00:05:00,2020-02-02,NaN,AirAsia,Departed 12:55 AM,D,Delhi (DEL)
4,00:05:00,2020-02-02,NaN,Bangkok Airways (Guilin Livery),Departed 12:50 AM,D,Bangkok (BKK)
...,...,...,...,...,...,...,...
25550,23:55:00,2020-03-01,NaN,IndiGo,NaN,D,Chennai (MAA)
25551,23:58:00,2020-03-01,Colombo (CMB),Air India,NaN,A,NaN
25552,23:59:00,2020-03-01,Ahmedabad (AMD),SpiceJet,Landed 11:49 PM,A,NaN
25553,23:59:00,2020-03-01,Ahmedabad (AMD),SpiceJet,NaN,A,NaN
25554,23:59:00,2020-03-01,NaN,SpiceJet,NaN,D,Ahmedabad (AMD)

In [8]:
#Function to Update the Departure Source in the dataframe
def update_source(value):
    if value["type"] == "D":
        return "Mumbai"
    else:
        return value["Source"]

df["Source"] = df[["Source", "type"]].apply(update_source, 1) #Calling the above function and updating the Dataframe
df #Printing the Updated Dataframe

,Time,date,Source,Flight Name,Status,type,Destination
0,00:05:00,2020-02-02,Paris (CDG),Air France,Landed 12:48 AM,A,NaN
1,00:05:00,2020-02-02,Hyderabad (HYD),IndiGo,Landed 12:23 AM,A,NaN
2,00:05:00,2020-02-02,Mumbai,GoAir,Departed 12:30 AM,D,Delhi (DEL)
3,00:05:00,2020-02-02,Mumbai,AirAsia,Departed 12:55 AM,D,Delhi (DEL)
4,00:05:00,2020-02-02,Mumbai,Bangkok Airways (Guilin Livery),Departed 12:50 AM,D,Bangkok (BKK)
...,...,...,...,...,...,...,...
25550,23:55:00,2020-03-01,Mumbai,IndiGo,NaN,D,Chennai (MAA)
25551,23:58:00,2020-03-01,Colombo (CMB),Air India,NaN,A,NaN
25552,23:59:00,2020-03-01,Ahmedabad (AMD),SpiceJet,Landed 11:49 PM,A,NaN
25553,23:59:00,2020-03-01,Ahmedabad (AMD),SpiceJet,NaN,A,NaN
25554,23:59:00,2020-03-01,Mumbai,SpiceJet,NaN,D,Ahmedabad (AMD)

In [9]:
#Function to Update the Arrival Destination in the dataframe
def update_destination(value):
    if value["type"] == "A":
        return "Mumbai"
    else:
        return value["Destination"]
df["Destination"] = df[["Destination", "type"]].apply(update_destination, 1) #Calling the above function and updating the Dataframe
df #Printing the Updated Dataframe

,Time,date,Source,Flight Name,Status,type,Destination
0,00:05:00,2020-02-02,Paris (CDG),Air France,Landed 12:48 AM,A,Mumbai
1,00:05:00,2020-02-02,Hyderabad (HYD),IndiGo,Landed 12:23 AM,A,Mumbai
2,00:05:00,2020-02-02,Mumbai,GoAir,Departed 12:30 AM,D,Delhi (DEL)
3,00:05:00,2020-02-02,Mumbai,AirAsia,Departed 12:55 AM,D,Delhi (DEL)
4,00:05:00,2020-02-02,Mumbai,Bangkok Airways (Guilin Livery),Departed 12:50 AM,D,Bangkok (BKK)
...,...,...,...,...,...,...,...
25550,23:55:00,2020-03-01,Mumbai,IndiGo,NaN,D,Chennai (MAA)
25551,23:58:00,2020-03-01,Colombo (CMB),Air India,NaN,A,Mumbai
25552,23:59:00,2020-03-01,Ahmedabad (AMD),SpiceJet,Landed 11:49 PM,A,Mumbai
25553,23:59:00,2020-03-01,Ahmedabad (AMD),SpiceJet,NaN,A,Mumbai
25554,23:59:00,2020-03-01,Mumbai,SpiceJet,NaN,D,Ahmedabad (AMD)

In [10]:
#Function to convert String of date and time to timestamp 
def update_timestamp_init(value):
    timestamp = str(value["date"]) + " " + str(value["Time"])
    timestamp = pd.to_datetime(timestamp, format="%Y-%m-%d %H:%M:%S")
    return timestamp
df["Time"] = df[["date", "Time"]].apply(update_timestamp_init, 1) #Calling the above function and updating the Dataframe
df

,Time,date,Source,Flight Name,Status,type,Destination
0,2020-02-02 00:05:00,2020-02-02,Paris (CDG),Air France,Landed 12:48 AM,A,Mumbai
1,2020-02-02 00:05:00,2020-02-02,Hyderabad (HYD),IndiGo,Landed 12:23 AM,A,Mumbai
2,2020-02-02 00:05:00,2020-02-02,Mumbai,GoAir,Departed 12:30 AM,D,Delhi (DEL)
3,2020-02-02 00:05:00,2020-02-02,Mumbai,AirAsia,Departed 12:55 AM,D,Delhi (DEL)
4,2020-02-02 00:05:00,2020-02-02,Mumbai,Bangkok Airways (Guilin Livery),Departed 12:50 AM,D,Bangkok (BKK)
...,...,...,...,...,...,...,...
25550,2020-03-01 23:55:00,2020-03-01,Mumbai,IndiGo,NaN,D,Chennai (MAA)
25551,2020-03-01 23:58:00,2020-03-01,Colombo (CMB),Air India,NaN,A,Mumbai
25552,2020-03-01 23:59:00,2020-03-01,Ahmedabad (AMD),SpiceJet,Landed 11:49 PM,A,Mumbai
25553,2020-03-01 23:59:00,2020-03-01,Ahmedabad (AMD),SpiceJet,NaN,A,Mumbai
25554,2020-03-01 23:59:00,2020-03-01,Mumbai,SpiceJet,NaN,D,Ahmedabad (AMD)