In [1]:
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("./Datasets/Clean/cleaned_dataset_train.csv")
data = pd.DataFrame(data)

In [3]:
data

,id,week,city_code,region_code,center_type,op_area,category,cuisine,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders
0,1379560,1,647,56,2,2.0,Beverages,Thai,136.83,152.29,0,0,177
1,1018704,2,647,56,2,2.0,Beverages,Thai,135.83,152.29,0,0,323
2,1196273,3,647,56,2,2.0,Beverages,Thai,132.92,133.92,0,0,96
3,1116527,4,647,56,2,2.0,Beverages,Thai,135.86,134.86,0,0,163
4,1343872,5,647,56,2,2.0,Beverages,Thai,146.50,147.50,0,0,215
...,...,...,...,...,...,...,...,...,...,...,...,...,...
456543,1437396,141,473,77,0,4.5,Fish,Continental,583.03,630.53,0,1,13
456544,1060716,142,473,77,0,4.5,Fish,Continental,581.03,582.03,0,0,42
456545,1029231,143,473,77,0,4.5,Fish,Continental,583.03,581.03,0,0,40
456546,1141147,144,473,77,0,4.5,Fish,Continental,582.03,581.03,0,0,53
456547,1443704,145,473,77,0,4.5,Fish,Continental,581.03,582.03,0,0,27

In [4]:
data.head(15)

,id,week,city_code,region_code,center_type,op_area,category,cuisine,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders
0,1379560,1,647,56,2,2.0,Beverages,Thai,136.83,152.29,0,0,177
1,1018704,2,647,56,2,2.0,Beverages,Thai,135.83,152.29,0,0,323
2,1196273,3,647,56,2,2.0,Beverages,Thai,132.92,133.92,0,0,96
3,1116527,4,647,56,2,2.0,Beverages,Thai,135.86,134.86,0,0,163
4,1343872,5,647,56,2,2.0,Beverages,Thai,146.50,147.50,0,0,215
5,1493612,6,647,56,2,2.0,Beverages,Thai,146.53,146.53,0,0,285
6,1110832,7,647,56,2,2.0,Beverages,Thai,145.53,146.53,0,0,148
7,1461167,8,647,56,2,2.0,Beverages,Thai,146.53,145.53,0,0,135
8,1102364,9,647,56,2,2.0,Beverages,Thai,134.83,134.83,0,0,175
9,1018130,10,647,56,2,2.0,Beverages,Thai,144.56,143.56,0,0,175
10,1047565,11,647,56,2,2.0,Beverages,Thai,146.53,144.53,0,0,244
11,1282497,12,647,56,2,2.0,Beverages,Thai,145.53,146.53,0,0,190
12,1136216,13,647,56,2,2.0,Beverages,Thai,145.50,146.50,0,0,68
13,1196793,14,647,56,2,2.0,Beverages,Thai,142.62,141.62,0,0,135
14,1324644,15,647,56,2,2.0,Beverages,Thai,117.37,143.62,0,0,366

In [5]:
#Number of items across various categories
data["category"].value_counts()

Beverages       127890
Rice Bowl        33408
Sandwich         33291
Pizza            33138
Starters         29941
Other Snacks     29379
Desert           29294
Salad            28559
Pasta            27694
Seafood          26916
Biryani          20614
Extras           13562
Soup             12675
Fish             10187
Name: category, dtype: int64

In [6]:
#Number of different types of cuisines
data["cuisine"].value_counts()

Italian        122925
Thai           118216
Indian         112612
Continental    102795
Name: cuisine, dtype: int64

In [7]:
#Finding coorelation between numerical attributes using the pearson's coefficient
cor = data.corr(method="pearson")
cor

,id,week,city_code,region_code,center_type,op_area,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders
id,1.000000,0.002225,-0.000387,-0.000648,0.000473,-0.000090,0.001941,0.002909,0.002001,0.003111,0.000702
week,0.002225,1.000000,0.000405,0.004600,0.000049,0.001550,0.026581,0.028614,-0.000841,-0.008263,-0.017210
city_code,-0.000387,0.000405,1.000000,0.042686,0.091500,0.131476,-0.004805,-0.002054,-0.005234,0.008640,0.041596
region_code,-0.000648,0.004600,0.042686,1.000000,-0.009658,0.023327,-0.003648,-0.001934,-0.007462,0.003605,0.029744
center_type,0.000473,0.000049,0.091500,-0.009658,1.000000,-0.219791,-0.015923,-0.013596,0.006194,-0.030041,-0.038199
op_area,-0.000090,0.001550,0.131476,0.023327,-0.219791,1.000000,0.021569,0.018031,-0.019462,0.041498,0.176976
checkout_price,0.001941,0.026581,-0.004805,-0.003648,-0.015923,0.021569,1.000000,0.953389,0.004818,-0.057184,-0.282108
base_price,0.002909,0.028614,-0.002054,-0.001934,-0.013596,0.018031,0.953389,1.000000,0.171173,0.057156,-0.222306
emailer_for_promotion,0.002001,-0.000841,-0.005234,-0.007462,0.006194,-0.019462,0.004818,0.171173,1.000000,0.390534,0.277147
homepage_featured,0.003111,-0.008263,0.008640,0.003605,-0.030041,0.041498,-0.057184,0.057156,0.390534,1.000000,0.294490
num_orders,0.000702,-0.017210,0.041596,0.029744,-0.038199,0.176976,-0.282108,-0.222306,0.277147,0.294490,1.000000

In [8]:
table = pd.crosstab(data["region_code"],data["category"])
table

category,Beverages,Biryani,Desert,Extras,Fish,Other Snacks,Pasta,Pizza,Rice Bowl,Salad,Sandwich,Seafood,Soup,Starters
region_code,,,,,,,,,,,,,,
23,1684,215,378,416,160,415,351,426,435,370,434,366,416,368
34,34545,5331,8201,0,2959,7691,7640,9076,9132,7890,9126,7013,0,8109
35,1668,157,322,0,190,211,290,431,435,377,434,331,0,418
56,50032,8732,11411,11491,4138,11892,11026,12931,13041,10973,12953,10992,9786,11830
71,1713,291,386,89,158,425,352,433,435,369,435,384,396,427
77,28535,4373,6441,0,1937,6414,6145,7317,7395,6373,7388,5792,0,6502
85,8011,1263,1767,1566,395,1961,1499,2089,2100,1827,2087,1644,2077,1997
93,1702,252,388,0,250,370,391,435,435,380,434,394,0,290

In [9]:
table = pd.crosstab(data["city_code"],data["category"])
table

category,Beverages,Biryani,Desert,Extras,Fish,Other Snacks,Pasta,Pizza,Rice Bowl,Salad,Sandwich,Seafood,Soup,Starters
city_code,,,,,,,,,,,,,,
456,1684,342,391,415,159,417,392,434,435,372,435,425,382,433
461,1712,221,403,0,233,357,385,435,435,378,435,337,0,432
473,1709,324,377,0,172,423,373,433,435,376,435,364,0,434
478,1586,150,374,0,0,373,314,427,435,374,433,259,0,296
485,1715,294,391,0,142,367,391,433,435,376,435,316,0,417
515,1681,179,342,0,0,354,334,428,435,374,433,221,0,304
517,3350,629,786,870,247,840,774,857,870,738,869,779,638,862
522,3371,651,807,844,341,848,780,863,870,738,869,821,787,869
526,12961,1956,3164,0,993,2805,2864,3455,3478,3003,3474,2440,0,2932
541,1543,81,354,0,0,45,267,428,435,374,434,244,0,296
553,1677,260,374,0,35,435,360,429,435,373,434,307,0,428
556,1686,334,393,0,158,409,381,434,435,376,435,409,0,435
561,1653,283,388,0,240,404,382,426,435,374,434,392,0,435
562,1671,307,397,0,241,420,393,433,435,374,435,397,0,435
576,3351,632,840,0,173,740,781,866,870,755,869,719,0,860
577,1690,256,389,435,156,423,369,433,435,371,434,391,183,424
579,1710,390,426,431,166,426,413,435,435,372,435,361,408,435
590,14574,2432,3274,3218,1245,3222,3093,3868,3907,3217,3830,2953,2691,3222
593,3340,453,660,0,243,799,648,854,870,752,870,615,0,700
596,1713,291,386,89,158,425,352,433,435,369,435,384,396,427
599,1684,297,410,363,0,417,397,433,435,369,434,283,341,433
602,1694,347,412,0,256,412,397,434,435,378,435,423,0,434
604,3357,533,748,853,286,839,749,863,870,739,866,754,784,821
609,1702,252,388,0,250,370,391,435,435,380,434,394,0,290
614,2909,564,556,679,164,758,451,790,795,718,782,596,782,788
615,1578,301,390,0,255,434,398,435,435,376,435,422,0,433
620,1716,313,379,0,2,404,399,435,435,376,435,406,0,432
628,1713,336,398,0,169,411,408,435,435,376,435,432,0,435
632,1657,187,357,0,5,403,354,434,435,375,435,297,0,353
638,5071,1028,1129,1239,459,1239,1150,1297,1305,1114,1305,1193,1239,1279
647,3368,343,721,813,226,729,603,858,869,730,868,740,380,585
648,1711,360,409,0,250,430,391,435,435,376,435,424,0,434
649,1680,211,360,0,188,389,353,433,435,375,433,339,0,332
651,1731,389,422,0,104,404,426,434,435,374,435,423,0,398
654,1667,220,357,354,50,414,317,427,435,370,434,332,262,402
658,1565,256,345,0,152,431,358,429,435,375,435,377,0,433
659,1719,338,401,0,222,435,394,435,435,376,435,429,0,434
675,1691,252,383,0,155,401,370,433,435,377,435,352,0,431
676,3323,518,785,0,282,738,690,865,870,746,870,693,0,797
679,1725,312,412,434,160,422,410,434,435,359,435,417,416,430
680,1693,186,405,0,86,366,352,432,435,373,435,304,0,312
683,1673,204,317,0,72,392,348,424,435,373,435,278,0,345
685,1716,416,426,435,198,418,416,435,435,371,434,431,427,435
693,1622,90,353,0,17,151,299,422,434,376,435,190,0,238
695,1702,146,386,0,123,365,323,421,435,375,435,274,0,311
698,1684,215,378,416,160,415,351,426,435,370,434,366,416,368
699,3376,362,787,462,70,787,645,865,870,739,870,631,860,774
700,1723,389,418,352,193,426,418,435,435,370,435,430,432,435
702,1668,157,322,0,190,211,290,431,435,377,434,331,0,418
703,1669,290,400,435,180,420,397,435,435,370,435,404,416,420
713,1726,337,424,425,161,416,403,434,435,370,435,417,435,435

In [10]:
#printing various statistics of num_orders
data["num_orders"].describe()

count    456548.000000
mean        261.872760
std         395.922798
min          13.000000
25%          54.000000
50%         136.000000
75%         324.000000
max       24299.000000
Name: num_orders, dtype: float64

In [11]:
#printing various statistics of checkout_price
data["checkout_price"].describe()

count    456548.000000
mean        332.238933
std         152.939723
min           2.970000
25%         228.950000
50%         296.820000
75%         445.230000
max         866.270000
Name: checkout_price, dtype: float64

In [12]:
#printing various statistics of base_price
data["base_price"].describe()

count    456548.000000
mean        354.156627
std         160.715914
min          55.350000
25%         243.500000
50%         310.460000
75%         458.870000
max         866.270000
Name: base_price, dtype: float64

In [13]:
#grouping num_orders based on type of cuisine and the category and printing the describe function
grouped_data=data.groupby(["cuisine","category"])["num_orders"]
grouped_data.describe()

                            count        mean         std   min    25%    50%  \
cuisine     category
Continental Beverages     32554.0  182.559624  162.068478  13.0   81.0  148.0
            Fish          10187.0   85.595268   80.303895  13.0   28.0   67.0
            Pizza         33138.0  222.817309  227.976970  13.0   82.0  149.0
            Seafood       26916.0  100.895898  137.335619  13.0   27.0   54.0
Indian      Beverages     29296.0   80.075061   88.400720  13.0   28.0   54.0
            Biryani       20614.0   30.651402   22.092493  13.0   14.0   26.0
            Desert        29294.0   66.250905   60.239531  13.0   27.0   53.0
            Rice Bowl     33408.0  624.822288  745.306184  13.0  258.0  433.0
Italian     Beverages     33381.0  418.021329  339.564139  13.0  189.0  323.0
            Pasta         27694.0   59.137142   54.081742  13.0   26.0   42.0
            Salad         28559.0  383.218460  353.131091  13.0  190.0  298.0
            Sandwich      33291.0  529.776276  640.636184  13.0  216.0  351.0
Thai        Beverages     32659.0  558.425855  513.205042  13.0  215.0  405.0
            Extras        13562.0  293.834169  232.045222  13.0  123.0  217.0
            Other Snacks  29379.0  162.234691  168.654453  13.0   54.0  109.0
            Soup          12675.0   82.023353   68.246554  13.0   40.0   67.0
            Starters      29941.0  155.276110  139.353936  13.0   55.0  109.0

                            75%      max
cuisine     category
Continental Beverages     230.0   2391.0
            Fish          109.0    879.0
            Pizza         271.0   2620.0
            Seafood       108.0   1620.0
Indian      Beverages      96.0   2323.0
            Biryani        41.0    242.0
            Desert         82.0   1054.0
            Rice Bowl     717.0  24299.0
Italian     Beverages     539.0   3483.0
            Pasta          80.0    824.0
            Salad         458.0   8059.0
            Sandwich      581.0  13150.0
Thai        Beverages     743.0   9303.0
            Extras        393.0   1620.0
            Other Snacks  215.0   3861.0
            Soup          108.0    689.0
            Starters      215.0   1554.0