In [2]:
import os
import pandas as pd
import numpy as np
import random

In [3]:
train_dataset = pd.DataFrame(pd.read_csv("Datasets/train/train.csv",skiprows=lambda i: i > 0 and random.random() > 0.001))
meal_dataset = pd.DataFrame(pd.read_csv("Datasets/train/meal_info.csv"))
center_dataset = pd.DataFrame(pd.read_csv("Datasets/train/fulfilment_center_info.csv"))
train_dataset["category"]=np.nan
train_dataset["cuisine"]=np.nan
train_dataset

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,category,cuisine
0,1352248,1,75,2444,659.63,658.63,0,0,53,NaN,NaN
1,1183308,1,50,2581,582.03,614.07,1,0,162,NaN,NaN
2,1417026,1,113,2631,207.61,236.71,0,0,53,NaN,NaN
3,1123625,2,104,2304,484.03,485.03,0,0,15,NaN,NaN
4,1160294,2,61,2290,309.43,311.43,0,0,582,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
451,1014565,143,86,2640,319.13,319.13,0,0,27,NaN,NaN
452,1405796,144,80,2104,591.73,592.73,0,0,27,NaN,NaN
453,1336751,145,55,1885,156.23,156.23,0,0,121,NaN,NaN
454,1014851,145,76,2760,162.99,242.53,0,0,231,NaN,NaN
455,1307118,145,102,2707,193.06,194.06,0,0,203,NaN,NaN

In [4]:

meal_category_dict=dict()
for i in meal_dataset.index:
    meal_category_dict[meal_dataset["meal_id"][i]]= meal_dataset["category"][i]

meal_cuisine_dict=dict()
for i in meal_dataset.index:
    meal_cuisine_dict[meal_dataset["meal_id"][i]]= meal_dataset["cuisine"][i]
# print(meal_cuisine_dict)
# print(meal_category_dict.items())
for i in train_dataset.index:
    # print(i)
    if(train_dataset["meal_id"][i] in meal_category_dict):
        train_dataset["category"][i] =  meal_category_dict.get(train_dataset["meal_id"][i])
for i in train_dataset.index:
    # print(i)
    if(train_dataset["meal_id"][i] in meal_cuisine_dict):
        train_dataset["cuisine"][i] =  meal_cuisine_dict.get(train_dataset["meal_id"][i])
train_dataset

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,category,cuisine
0,1352248,1,75,2444,659.63,658.63,0,0,53,Seafood,Continental
1,1183308,1,50,2581,582.03,614.07,1,0,162,Pizza,Continental
2,1417026,1,113,2631,207.61,236.71,0,0,53,Beverages,Indian
3,1123625,2,104,2304,484.03,485.03,0,0,15,Desert,Indian
4,1160294,2,61,2290,309.43,311.43,0,0,582,Rice Bowl,Indian
...,...,...,...,...,...,...,...,...,...,...,...
451,1014565,143,86,2640,319.13,319.13,0,0,27,Starters,Thai
452,1405796,144,80,2104,591.73,592.73,0,0,27,Fish,Continental
453,1336751,145,55,1885,156.23,156.23,0,0,121,Beverages,Thai
454,1014851,145,76,2760,162.99,242.53,0,0,231,Other Snacks,Thai
455,1307118,145,102,2707,193.06,194.06,0,0,203,Beverages,Italian