In [1]:
import os
import pandas as pd
import numpy as np
import random
from sklearn import preprocessing

In [2]:
# train_dataset = pd.DataFrame(pd.read_csv("Datasets/train/train.csv",skiprows=lambda i: i > 0 and random.random() > 0.001))
train_dataset = pd.DataFrame(pd.read_csv("Datasets/train/train.csv"))
meal_dataset = pd.DataFrame(pd.read_csv("Datasets/train/meal_info.csv"))
center_dataset = pd.DataFrame(pd.read_csv("Datasets/train/fulfilment_center_info.csv"))
# train_dataset["category"]=np.nan
# train_dataset["cuisine"]=np.nan
train_dataset

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders
0,1379560,1,55,1885,136.83,152.29,0,0,177
1,1466964,1,55,1993,136.83,135.83,0,0,270
2,1346989,1,55,2539,134.86,135.86,0,0,189
3,1338232,1,55,2139,339.50,437.53,0,0,54
4,1448490,1,55,2631,243.50,242.50,0,0,40
...,...,...,...,...,...,...,...,...,...
456543,1271326,145,61,1543,484.09,484.09,0,0,68
456544,1062036,145,61,2304,482.09,482.09,0,0,42
456545,1110849,145,61,2664,237.68,321.07,0,0,501
456546,1147725,145,61,2569,243.50,313.34,0,0,729
456547,1361984,145,61,2490,292.03,290.03,0,0,162

In [ ]:

# train_dataset["meal_id"] = preprocessing.LabelEncoder().fit_transform(train_dataset["meal_id"])
# train_dataset
# meal_category_dict=dict()
# for i in meal_dataset.index:
#     meal_category_dict[meal_dataset["meal_id"][i]]= meal_dataset["category"][i]

# meal_cuisine_dict=dict()
# for i in meal_dataset.index:
#     meal_cuisine_dict[meal_dataset["meal_id"][i]]= meal_dataset["cuisine"][i]
# # print(meal_cuisine_dict)
# # print(meal_category_dict.items())
# for i in train_dataset.index:
#     # print(i)
#     if(train_dataset["meal_id"][i] in meal_category_dict):
#         train_dataset["category"][i] =  meal_category_dict.get(train_dataset["meal_id"][i])
# for i in train_dataset.index:
#     # print(i)
#     if(train_dataset["meal_id"][i] in meal_cuisine_dict):
#         train_dataset["cuisine"][i] =  meal_cuisine_dict.get(train_dataset["meal_id"][i])
# train_dataset

In [3]:
meal_dataset["meal_id"] = preprocessing.LabelEncoder().fit_transform(meal_dataset["meal_id"])
meal_dataset

    meal_id      category      cuisine
0        22     Beverages         Thai
1        26     Beverages         Thai
2        38     Beverages         Thai
3         7     Beverages       Indian
4        42     Beverages       Indian
5         8        Extras         Thai
6         0     Beverages      Italian
7        18     Beverages      Italian
8        19        Extras         Thai
9         2        Extras         Thai
10       46     Beverages      Italian
11       20          Soup         Thai
12        9          Soup         Thai
13       37          Soup         Thai
14       47  Other Snacks         Thai
15       35         Salad      Italian
16        1     Rice Bowl       Indian
17       30     Rice Bowl       Indian
18       11  Other Snacks         Thai
19       45  Other Snacks         Thai
20       21      Starters         Thai
21       43      Starters         Thai
22       40      Starters         Thai
23       16      Sandwich      Italian
24       25      Sandwich      Italian
25       32         Pasta      Italian
26       29     Beverages       Indian
27       48      Sandwich      Italian
28       44         Salad      Italian
29       39         Salad      Italian
30        5     Beverages  Continental
31        3     Beverages  Continental
32       33     Beverages  Continental
33       36        Desert       Indian
34        4         Pasta      Italian
35       15     Rice Bowl       Indian
36       23       Biryani       Indian
37        6       Biryani       Indian
38       31        Desert       Indian
39       12        Desert       Indian
40       17       Biryani       Indian
41       28         Pasta      Italian
42       13         Pizza  Continental
43       41         Pizza  Continental
44       24         Pizza  Continental
45       14          Fish  Continental
46       50          Fish  Continental
47       27          Fish  Continental
48       34       Seafood  Continental
49       49       Seafood  Continental
50       10       Seafood  Continental

In [4]:
train_dataset["meal_id"] = preprocessing.LabelEncoder().fit_transform(train_dataset["meal_id"])
train_dataset

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders
0,1379560,1,55,22,136.83,152.29,0,0,177
1,1466964,1,55,26,136.83,135.83,0,0,270
2,1346989,1,55,38,134.86,135.86,0,0,189
3,1338232,1,55,29,339.50,437.53,0,0,54
4,1448490,1,55,42,243.50,242.50,0,0,40
...,...,...,...,...,...,...,...,...,...
456543,1271326,145,61,12,484.09,484.09,0,0,68
456544,1062036,145,61,31,482.09,482.09,0,0,42
456545,1110849,145,61,44,237.68,321.07,0,0,501
456546,1147725,145,61,39,243.50,313.34,0,0,729
456547,1361984,145,61,35,292.03,290.03,0,0,162

In [5]:
train_dataset = pd.merge(train_dataset,meal_dataset, on='meal_id')
train_dataset

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,category,cuisine
0,1379560,1,55,22,136.83,152.29,0,0,177,Beverages,Thai
1,1040403,1,24,22,136.83,136.83,0,0,1498,Beverages,Thai
2,1103215,1,11,22,136.83,136.83,0,0,959,Beverages,Thai
3,1034383,1,83,22,121.31,120.31,0,1,1025,Beverages,Thai
4,1118999,1,32,22,114.52,113.52,0,1,445,Beverages,Thai
...,...,...,...,...,...,...,...,...,...,...,...
456543,1458599,145,65,27,582.03,582.03,0,0,134,Fish,Continental
456544,1417199,145,110,27,582.03,581.03,0,0,28,Fish,Continental
456545,1434028,145,68,27,582.03,581.03,0,0,40,Fish,Continental
456546,1205895,145,51,27,641.23,640.23,0,0,69,Fish,Continental
456547,1443704,145,61,27,581.03,582.03,0,0,27,Fish,Continental

In [6]:
center_dataset["center_id"] = preprocessing.LabelEncoder().fit_transform(center_dataset["center_id"])
center_dataset

    center_id  city_code  region_code center_type  op_area
0           1        679           56      TYPE_A      3.7
1           2        590           56      TYPE_B      6.7
2          59        590           56      TYPE_C      4.0
3          30        648           34      TYPE_A      4.1
4          48        632           34      TYPE_C      3.6
..        ...        ...          ...         ...      ...
72         22        590           56      TYPE_A      3.8
73         11        604           56      TYPE_A      3.5
74         37        614           85      TYPE_A      3.0
75         32        676           34      TYPE_B      4.1
76         20        638           56      TYPE_A      7.0

[77 rows x 5 columns]

In [7]:
train_dataset["center_id"] = preprocessing.LabelEncoder().fit_transform(train_dataset["center_id"])
train_dataset

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,category,cuisine
0,1379560,1,23,22,136.83,152.29,0,0,177,Beverages,Thai
1,1040403,1,7,22,136.83,136.83,0,0,1498,Beverages,Thai
2,1103215,1,1,22,136.83,136.83,0,0,959,Beverages,Thai
3,1034383,1,41,22,121.31,120.31,0,1,1025,Beverages,Thai
4,1118999,1,12,22,114.52,113.52,0,1,445,Beverages,Thai
...,...,...,...,...,...,...,...,...,...,...,...
456543,1458599,145,29,27,582.03,582.03,0,0,134,Fish,Continental
456544,1417199,145,57,27,582.03,581.03,0,0,28,Fish,Continental
456545,1434028,145,32,27,582.03,581.03,0,0,40,Fish,Continental
456546,1205895,145,20,27,641.23,640.23,0,0,69,Fish,Continental
456547,1443704,145,27,27,581.03,582.03,0,0,27,Fish,Continental

In [8]:
train_dataset = pd.merge(train_dataset,center_dataset, on='center_id')
train_dataset

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,category,cuisine,city_code,region_code,center_type,op_area
0,1379560,1,23,22,136.83,152.29,0,0,177,Beverages,Thai,647,56,TYPE_C,2.0
1,1018704,2,23,22,135.83,152.29,0,0,323,Beverages,Thai,647,56,TYPE_C,2.0
2,1196273,3,23,22,132.92,133.92,0,0,96,Beverages,Thai,647,56,TYPE_C,2.0
3,1116527,4,23,22,135.86,134.86,0,0,163,Beverages,Thai,647,56,TYPE_C,2.0
4,1343872,5,23,22,146.50,147.50,0,0,215,Beverages,Thai,647,56,TYPE_C,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456543,1437396,141,27,27,583.03,630.53,0,1,13,Fish,Continental,473,77,TYPE_A,4.5
456544,1060716,142,27,27,581.03,582.03,0,0,42,Fish,Continental,473,77,TYPE_A,4.5
456545,1029231,143,27,27,583.03,581.03,0,0,40,Fish,Continental,473,77,TYPE_A,4.5
456546,1141147,144,27,27,582.03,581.03,0,0,53,Fish,Continental,473,77,TYPE_A,4.5
456547,1443704,145,27,27,581.03,582.03,0,0,27,Fish,Continental,473,77,TYPE_A,4.5

In [9]:
train_dataset["center_type"] = preprocessing.LabelEncoder().fit_transform(train_dataset["center_type"])
train_dataset

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,category,cuisine,city_code,region_code,center_type,op_area
0,1379560,1,23,22,136.83,152.29,0,0,177,Beverages,Thai,647,56,2,2.0
1,1018704,2,23,22,135.83,152.29,0,0,323,Beverages,Thai,647,56,2,2.0
2,1196273,3,23,22,132.92,133.92,0,0,96,Beverages,Thai,647,56,2,2.0
3,1116527,4,23,22,135.86,134.86,0,0,163,Beverages,Thai,647,56,2,2.0
4,1343872,5,23,22,146.50,147.50,0,0,215,Beverages,Thai,647,56,2,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456543,1437396,141,27,27,583.03,630.53,0,1,13,Fish,Continental,473,77,0,4.5
456544,1060716,142,27,27,581.03,582.03,0,0,42,Fish,Continental,473,77,0,4.5
456545,1029231,143,27,27,583.03,581.03,0,0,40,Fish,Continental,473,77,0,4.5
456546,1141147,144,27,27,582.03,581.03,0,0,53,Fish,Continental,473,77,0,4.5
456547,1443704,145,27,27,581.03,582.03,0,0,27,Fish,Continental,473,77,0,4.5